.shortcut-menu {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #F3A71D;
  border-radius: 5px;
}

.shortcut-menu .select-menu {
  width: 350px;
}

.shortcut-menu .select-menu .head {
  display: flex;
  margin: 20px 0 20px 16px;
}

.shortcut-menu .select-menu .head img {
  width: 21px;
  height: 21px;
  filter: invert(1) brightness(2);
}

.shortcut-menu .select-menu .head h1 {
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin-left: 5px;
}

.shortcut-menu .select-menu .app-container {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
}

.shortcut-menu .select-menu .app-container .app-item {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.shortcut-menu .select-menu .app-container .app-item a .status {
  position: absolute;
  top: 0;
  right: 5px;
  display: flex;
}

.shortcut-menu .select-menu .app-container .app-item a .status .diss,
.shortcut-menu .select-menu .app-container .app-item a .status .add {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  font-size: 13px;
  font-weight: bolder;
  color: white;
}

.shortcut-menu .select-menu .app-container .app-item a .status .diss {
  background-color: #ff4545;
}

.shortcut-menu .select-menu .app-container .app-item a .status .add {
  background-color: #10A37F;
}

.shortcut-menu .select-menu .app-container .app-item a .status .diss p,
.shortcut-menu .select-menu .app-container .app-item a .status .add p {
  margin-top: 2px;
  color: white;
}

.shortcut-menu .select-menu .app-container .app-item a .app-icon {
  background-color: #6abacc;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.shortcut-menu .select-menu .app-container .app-item a .app-icon img {
  width: 35px;
  height: auto;
  filter: invert(1) brightness(2);
}

.shortcut-menu .select-menu .app-container .app-item a .app-icon:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.shortcut-menu .select-menu .app-container .app-item p {
  margin: 3px 0 10px 0;
  text-align: center;
  font-size: 8px;
  font-weight: bold;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  box-sizing: border-box;
}

.bottom-bar {
  width: 100%;
  height: 56px;
  background: #3B2313;
  overflow-x: auto;
  position: fixed;
  bottom: 0;
  margin: 0 auto;
}

.bottom-bar .container {
  display: flex;
  align-items: center;
}

.bottom-bar .container .bar-item-wrap {
  display: flex;
  align-items: center;
}

.bottom-bar .container .bar-item-wrap .display-item {
  margin-right: 35px;
  width: 56px;
  height: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bottom-bar .container .bar-item-wrap .display-item a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottom-bar .container .bar-item-wrap .display-item a img {
  width: 25px;
  height: 25px;
  filter: invert(1) brightness(2);
}

.bottom-bar .container .bar-item-wrap .display-item a p {
  margin-top: 3px;
  font-size: 8px;
  font-weight: bold;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bottom-bar .container .bar-item-wrap .add-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 56px;
  padding-right: 46px;
}

.bottom-bar .container .bar-item-wrap .add-app button {
  width: 39px;
  height: 39px;
  border: 0;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.2);
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.bottom-bar .container .bar-item-wrap .add-app button:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.hide {
  display: none;
}

@keyframes zoomIn {
  from { opacity: 0; transform: scale(0.8); }
  to { opacity: 1; transform: scale(1); }
}

@keyframes zoomOut {
  from { opacity: 1; transform: scale(1); }
  to { opacity: 0; transform: scale(0.8); }
}

.animate-alert-in {
  animation: zoomIn 0.3s ease-out forwards;
}

.animate-alert-out {
  animation: zoomOut 0.3s ease-out forwards;
}

.backdrop {
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.5);
  display:flex;
  justify-content:center;
  align-items:center;
}

@media (min-width: 1024px) {
  .bottom-bar .container .bar-item-wrap {
    width: 100%;
    justify-content: space-between;
  }
}
