nav {
  display: flex;
  background: #3B2313;
  height: 56px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1055;
}

nav .nav-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

nav .nav-wrap .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .nav-wrap .logo img {
  width: auto;
  height: 65px;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.8));
}

nav .nav-wrap .home-wrap,
nav .nav-wrap .work {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.8));
}

nav .nav-wrap .home-wrap img,
nav .nav-wrap .work img {
  width: 24px;
  height: auto;
  filter: invert(1) brightness(2);
}

nav .nav-wrap .home-wrap a {
  padding-left: 10px;
}

nav .nav-wrap .hamberger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav .nav-wrap .hamberger .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
  transition: 0.4s;
  border-radius: 5px;
}

.menu {
  position: fixed;
  top: 0;
  left: -290px;
  width: 250px;
  height: 100%;
  background: #553519;
  transition: left 0.3s ease;
  display: flex;
  flex-direction: column;
  z-index: 1054;
}

.menu .logo-menu {
  width: 250px;
  height: 56px;
  display: flex;
  padding: 0 16px;
  background: #3B2313;
  align-items: center;
}

.menu .logo-menu img {
  height: 38px;
  width: auto;
  margin: 0 10px 0 12px;
}

.menu .logo-menu p {
  color: white;
  text-decoration: none;
  padding: 1rem 0;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.menu a {
  color: white;
  text-decoration: none;
  padding: 16px 0;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 100%;
}

.menu a img {
  margin: 0 20px;
  height: 20px;
  width: 20px;
  filter: invert(1) brightness(2);
}

.menu a:hover {
  background-color: white;
  border-radius: 6px;
  color: #265F61;
}

.menu a:hover img {
  filter: invert(27%) sepia(35%) saturate(800%) hue-rotate(143deg) brightness(95%) contrast(90%);
}

.menu .menu-item {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.menu .logout-icon {
  width: 250px;
  height: 56px;
  display: flex;
  padding: 0 16px;
  position: absolute;
  bottom: 0;
  background: #3B2313;
}

.menu .logout-icon img {
  margin: 0 20px;
  height: 20px;
  width: 20px;
  filter: invert(1) brightness(2);
}

.menu.active {
  left: 0;
  transform: translateX(0);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  z-index: 1053;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

app-pass-alert {
  z-index: 1050;
}

.animate-alert-in {
  animation: zoomIn 0.3s ease-out forwards;
}

.animate-alert-out {
  animation: zoomOut 0.3s ease-out forwards;
}
.rounded-circle{
  display: inline-block;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}
